@import "tailwindcss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #323333;
    color: white;
    font-family: Arial;
}

.page-register {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}